* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  min-height: 100vh;
}

.loader-container {
  display: block;
  position: fixed;
  min-height: 100vh;
  width: 100%;
  background: #000;
  opacity: 1;
  animation: wrapper-opacity 2s forwards, visibility 1s forwards;
  z-index: 9999;
  visibility: visible;
}

.loader-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes visibility {
  0% {
    visibility: visible;
    min-height: 100vh;
  }
  100% {
    visibility: hidden;
    min-height: 0vh;
  }
}

@keyframes wrapper-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  opacity: 1;
  animation: animate 1s linear infinite, loader-opacity 1s forwards;
}

@keyframes loader-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.loader:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000;
  border-radius: 50%;
  z-index: 1000;
}

.loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
  border-radius: 50%;
  z-index: 1;
  filter: blur(30px)
}