:root {
  --size: 1;
  --background: #091833;
  --white: #fafafa;
  --color1: #EA00D9;
  --color2: #defe47;
  --color3: #13F700;
  --color4: #00F1F7;
}

@font-face {
  font-family: "PixelMplus12-Regular";
  src:  url("../fonts/PixelMplus12-Regular.ttf") format("ttf"),
  url("../fonts/PixelMplus12-Bold.ttf") format("ttf")
}

body {
  background: var(--background);
  color: var(--white);
  font-family: consolas;

}

p {
  padding: 0px;
  margin: 0px;
}

.card-visual-visual {
  position: relative;
  width: 800px;
  height: 392px;
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3),
    var(--color4)
  );
  transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  border-radius: 20px;
  padding: 5px;
}

.card-visual-visual::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background: linear-gradient(
    to right,
    var(--color1),
    var(--color2),
    var(--color3),
    var(--color4)
  );
  filter: blur(10px);
  transition: filter 0.5s;
}

.card-visual-visual:hover:after {
  filter: blur(20px);
}

.card-visual-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--background);
  border-radius: 15px;
  padding: 32px;
}

.wrapper {
  transition: opacity 0.3s, filter 0.5s, border-top 1s, margin-left 1s;
  opacity: 0.5;
}

.wrapper:hover {
  opacity: 1;
}

.wrapper:not(:nth-child(1)) {
  margin-top: 24px;
}

.active-content {
  opacity: 1 !important;
  border-bottom: solid 1px #fafafa;
  margin-left: 20px;
}

.information-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.information-wrapper .menu-bar {
  flex-grow: 1;
}

.header {
  font-size: 32px;
}

.image-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: solid 1px #fafafa;
  filter: drop-shadow(2px 2px 5px #fafafa);
}

.onhover {
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: transform-image 0.5s linear forwards;
}

.content-wrapper {
  position: relative;
  width: 60%;
  border: solid 0px white;
  padding: 8px;
  transition: all 1s;
}

.content-wrapper-active {
  /* border: solid 0.5px white; */
}


.content {
  position: absolute;
  transition: visibility 1s, opacity 1s;
  visibility: hidden;
}

.profile h1 {
  margin: 0;
  font-size: 24px;
}

.profile h1:not(:nth-child(1)) {
  margin-top: 16px;
}

.skills p {
  font-size: 24px;
}

.skills p:not(:nth-child(1)) {
  padding-top: 24px;
}

.swift {
  filter: drop-shadow(0px 0px 10px #F04C33);
}

.ruby {
  filter: drop-shadow(0px 0px 10px #C41B31);
}

.react {
  filter: drop-shadow(0px 0px 10px #5CD3F3);
}

.vue {
  filter: drop-shadow(0px 0px 10px #3FB27F);
}

.typescript {
  filter: drop-shadow(0px 0px 10px #0076C6);
}

.recent-posts {
  visibility: hidden;
}

.recent-posts a {
  display: block;
  color: var(--white);
  opacity: 0.5;
  transition: all 0.5s;
}

.recent-posts a:hover {
  opacity: 1;
}

.recent-posts a:not(:nth-child(1)) {
  padding-top: 16px;
}

@keyframes transform-image {
  0% {
    transform: translate(-25px, -25px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.social-links {
  display: flex;
}

.social-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  transition: filter 0.5s;
}

.social-link:not(:nth-child(1)) {
  margin-left: 16px;
}


.github:hover {
  filter: drop-shadow(0px 0px 5px var(--white));
}

.facebook:hover {
  filter: drop-shadow(0px 0px 5px #3F65A6);
}




